interactions:
- request:
    body: '{"limit":100,"type":"on-demand","verified":{"eq":true},"rentable":{"eq":true},"rented":{"eq":false},"num_gpus":{"gte":1,"lte":1}}'
    headers:
      Authorization:
      - Bearer MASKED
      Content-Type:
      - application/json
    method: POST
    uri: https://console.vast.ai/api/v0/bundles/
  response:
    body:
      string: '{"offers": [{"id": 31132145, "ask_contract_id": 31132145, "bundle_id":
        1075535044, "bundled_results": null, "bw_nvlink": 0.0, "compute_cap": 1200,
        "cpu_arch": "amd64", "cpu_cores": 384, "cpu_cores_effective": 48.0, "cpu_ghz":
        2.4, "cpu_name": "AMD EPYC 9654 96-Core Processor", "cpu_ram": 193456, "credit_discount_max":
        0.0, "cuda_max_good": 13.1, "direct_port_count": 1249, "disk_bw": 6014.27,
        "disk_name": "KINGSTON SEDC3000ME7T6", "disk_space": 400.25, "dlperf": 282.29418103177517,
        "dlperf_per_dphtotal": 270.2433303027205, "dph_base": 1.0386666666666668,
        "dph_total": 1.0445925925925927, "driver_version": "590.48.01", "driver_vers":
        590048001, "duration": 9690186.240149736, "end_date": 1786030699.0, "external":
        null, "flops_per_dphtotal": 113.89360487874059, "geolocation": "Poland, PL",
        "geolocode": 334059079, "gpu_arch": "nvidia", "gpu_display_active": false,
        "gpu_frac": 0.125, "gpu_ids": [128347], "gpu_lanes": 16, "gpu_mem_bw": 1398.2,
        "gpu_name": "RTX PRO 6000 WS", "gpu_ram": 97887, "gpu_total_ram": 97887, "gpu_max_power":
        600.0, "gpu_max_temp": 49.0, "has_avx": 1, "host_id": 66293, "hosting_type":
        0, "hostname": null, "inet_down": 4169.0, "inet_down_cost": 0.005208333333333333,
        "inet_up": 4502.3, "inet_up_cost": 0.005208333333333333, "is_bid": false,
        "logo": "/static/logos/vastai_small2.png", "machine_id": 37485, "min_bid":
        0.5333333333333333, "mobo_name": "TURIN2D24G-2L", "num_gpus": 1, "os_version":
        "24.04", "pci_gen": 5.0, "pcie_bw": 54.1, "public_ipaddr": "140.150.159.2",
        "reliability": 0.9911049, "reliability_mult": 0.9182606, "rentable": true,
        "rented": false, "score": 489.0608421042899, "start_date": null, "static_ip":
        false, "storage_cost": 0.5333333333333332, "storage_total_cost": 0.005925925925925925,
        "total_flops": 118.972416, "verification": "verified", "vericode": 1, "vram_costperhour":
        0.0108655354303091, "webpage": null, "vms_enabled": false, "expected_reliability":
        0.0, "is_vm_deverified": true, "resource_type": "gpu", "cluster_id": null,
        "avail_vol_ask_id": 31132156, "avail_vol_dph": 0.00018518518518518515, "avail_vol_size":
        1580.0, "nw_disk_min_bw": null, "nw_disk_max_bw": null, "nw_disk_avg_bw":
        null, "rn": 1, "dph_total_adj": 1.0550092592592595, "reliability2": 0.9911049,
        "discount_rate": 0.0, "discounted_hourly": 0.0, "discounted_dph_total": 1.0445925925925927,
        "search": {"gpuCostPerHour": 1.0386666666666668, "diskHour": 0.005925925925925925,
        "totalHour": 1.0445925925925927, "discountTotalHour": 0, "discountedTotalPerHour":
        1.0445925925925927}, "instance": {"gpuCostPerHour": 0, "diskHour": 0.005925925925925925,
        "totalHour": 0.005925925925925925, "discountTotalHour": 0, "discountedTotalPerHour":
        0.005925925925925925}, "time_remaining": "", "time_remaining_isbid": "", "internet_up_cost_per_tb":
        5.333333333333333, "internet_down_cost_per_tb": 5.333333333333333}, {"id":
        28034960, "ask_contract_id": 28034960, "bundle_id": 1618591794, "bundled_results":
        null, "bw_nvlink": 0.0, "compute_cap": 1200, "cpu_arch": "amd64", "cpu_cores":
        12, "cpu_cores_effective": 12.0, "cpu_ghz": 4.4, "cpu_name": "12th Gen Core\u2122
        i5-12400F", "cpu_ram": 64127, "credit_discount_max": 0.0, "cuda_max_good":
        12.8, "direct_port_count": 98, "disk_bw": 6099.0, "disk_name": "WD_BLACK SN850X
        2000GB", "disk_space": 10[...]
