interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gpufindr.com/gpus?limit=200&max_price=100.0
  response:
    body:
      string: "[{\"id\":\"dc4d47b0-1843-4a86-b43b-e71fe97b80ca\",\"source\":\"lambda\",\"location\":\"us-east-3\",\"reliability\":0.99,\"duration_hours\":0,\"name\":\"H200\",\"vram_mb\":98304,\"total_flops\":67,\"gpu_mem_bw_gbps\":4800,\"num_gpus\":1,\"cpu_cores\":64,\"cpu_name\":\"\",\"cpu_ghz\":0,\"cpu_arch\":\"\",\"ram_mb\":432000,\"disk_space_gb\":4096,\"disk_bw_gbps\":12000,\"disk_name\":\"NVMe
        SSD\",\"upload_mbps\":10000,\"download_mbps\":10000,\"total_cost_ph\":1.490000,\"gpu_cost_ph\":1.490000,\"disk_cost_ph\":0.000000,\"upload_cost_ph\":0.000000,\"download_cost_ph\":0.000000,\"flops_per_dollar_ph\":44.9664429530201,\"updated_at\":\"0001-01-01T00:00:00+00:00\",\"url\":\"https://cloud.lambda.ai/instances\",\"_id\":null,\"score\":39.0243312529841,\"score_dollar_ph\":26.1908263442846},
        \n {\"id\":\"5feb5ed6-0b17-47d1-84a1-bf73f39ee748\",\"source\":\"lambda\",\"location\":\"us-east-1\",\"reliability\":0.99,\"duration_hours\":0,\"name\":\"B200\",\"vram_mb\":184320,\"total_flops\":4400,\"gpu_mem_bw_gbps\":8000,\"num_gpus\":2,\"cpu_cores\":52,\"cpu_name\":\"\",\"cpu_ghz\":0,\"cpu_arch\":\"\",\"ram_mb\":720000,\"disk_space_gb\":5632,\"disk_bw_gbps\":12000,\"disk_name\":\"NVMe
        SSD\",\"upload_mbps\":10000,\"download_mbps\":10000,\"total_cost_ph\":10[...]
