interactions:
- request:
    body: '{"query":"\n        query GpuTypes {\n          gpuTypes {\n            id\n            displayName\n            memoryInGb\n            securePrice\n            communityPrice\n            secureSpotPrice\n            lowestPrice(input:
      {\n              gpuCount: 1,\n              minDisk: 0,\n              minMemoryInGb:
      8,\n              minVcpuCount: 2,\n              secureCloud: true\n            })
      {\n              uninterruptablePrice\n              minimumBidPrice\n              minVcpu\n              minMemory\n              stockStatus\n              maxUnreservedGpuCount\n              availableGpuCounts\n            }\n          }\n        }\n        "}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.runpod.io/graphql?api_key=MASKED
  response:
    body:
      string: '{"data":{"gpuTypes":[{"id":"AMD Instinct MI300X OAM","displayName":"MI300X","memoryInGb":192,"securePrice":1.99,"communityPrice":0.5,"secureSpotPrice":1.49,"lowestPrice":{"uninterruptablePrice":null,"minimumBidPrice":null,"minVcpu":null,"minMemory":null,"stockStatus":null,"maxUnreservedGpuCount":null,"availableGpuCounts":null}},{"id":"NVIDIA
        A100 80GB PCIe","displayName":"A100 PCIe","memoryInGb":80,"securePrice":1.39,"communityPrice":1.19,"secureSpotPrice":0.82,"lowestPrice":{"uninterruptablePrice":null,"minimumBidPrice":null,"minVcpu":null,"minMemory":null,"stockStatus":null,"maxUnreservedGpuCount":null,"availableGpuCounts":null}},{"id":"NVIDIA
        A100-SXM4-40GB","displayName":"A100 SXM 40GB","memoryInGb":40,"securePrice":0,"communityPrice":1,"secureSpotPrice":null,"lowestPrice":{"uninterruptablePr[...]
